.navigation {
	display: flex;
	width: 100%; 
	background: #9ba5b3; 
	padding: 5px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.lect-subjects{
	display: flex;
	width: 100%;
	background: #77FF77; 
	padding: 10px;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.subject{
	padding:15px 10px;
}

.lect-rating{
	display: flex;
	width: 100%;
	background: #AA7777; 
	padding: 10px;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: space-between;
}

.lect-rating-item{
	padding:15px 10px;
}

.mark2 {
    color: red;
}
.mark3 {
    color: orange;
}
.mark4 {
    color: blue;
}
.mark5 {
    color: green;
}